/*----------Header Styles----------*/
header {
  background-color: #044b87;
}

.header-content {
  font-family: "Roboto", sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
}

.logo {
  margin: 0px 10px 0px 10px;
}

.chamber-name {
  color: #ffffff;
}

.chamber-name h1 {
  margin: auto;
  font-size: 20px;
}

.chamber-name p {
  margin: auto;
  font-size: 16px;
}

.social-media {
  display: flex;
  justify-content: space-between;
}

.facebook-logo,
.linkedin-logo {
  margin: 0px 10px 0px 10px;
}

nav button {
  margin: 0.2rem 2vw;
  background: transparent;
  border: none;
  font-size: 2rem;
  color: #ffffff;
}

nav ul {
  list-style-type: none;
  position: absolute;
  z-index: 1;
  top: 100px;
  right: 0px;
  width: 100%;
  background-color: #a8ccea;
}

nav ul li a {
  display: block;
  padding: 0.8rem 2vw;
  text-decoration: none;
  color: #044b87;
  border-top: 1px solid rgb(255, 255, 255);
  font-size: 0.8rem;
}

nav ul li.active a {
  background-color: rgb(168, 204, 234, 0.6);
  color: #ffffff;
}

nav ul li a:hover {
  background-color: #dcf0f8;
}

nav ul {
  display: none;
}

nav ul.open {
  display: block;
}

#hamburguerBtn span:nth-child(1) {
  display: block;
}

#hamburguerBtn span:nth-child(2) {
  display: none;
}

#hamburguerBtn.open span:nth-child(1) {
  display: none;
}

#hamburguerBtn.open span:nth-child(2) {
  display: block;
}

.date {
  padding: 10px 20%;
  font-weight: 400;
  margin: 10px;
  border: 1px solid #bbb;
  background-color: #eee;
}

/*----------Footer Styles----------*/
.footer-color {
  background-color: #044b87;
}

.footer-logo {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.footer-color img,
.header-content img {
  border-radius: 5px;
}

.footer-direction,
.footer-contact,
.footer-data {
  text-align: center;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
}

.bold-text {
  font-weight: bolder;
}

/*---------- Main ----------*/
.home-page {
  display: grid;
  grid-template-rows: repeat(5, auto);
  grid-row-gap: 10px;
  padding: 0.5em;
  margin: 10px 20px 10px 20px;
}

div#invite-chamber {
  background-color: #a8ccea;
  text-align: center;
  margin-top: 0.5rem;
  font-size: 2.5rem;
  padding: 1rem;
}

main img {
  max-width: 100%;
  border-radius: 10px;
}

section {
  margin: auto;
  text-align: center;
}

.main-img {
  position: relative;
}

.join-button a {
  margin-top: -10%;
  margin-left: 70%;
  position: absolute;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  font-size: 25px;
  color: #ffffff;
  background-color: #044b87;
  box-shadow: 0px 0px 2px 2px rgba(4, 75, 135, 0.35);
}

.join-button h2 {
  margin-top: -65%;
  margin-left: 15px;
  position: absolute;
  font-family: "Roboto", sans-serif;
  color: #044b87;
  font-size: 1.3em;
  text-shadow: 0 0 4px #ffffff;
}

.event-left,
.weather-left,
.news-release,
.spotlight {
  background-color: #dcf0f8;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
}

h3 {
  color: #044b87;
  text-shadow: 0 0 2px #ffffff;
  margin: 5px auto 0px auto;
  padding-top: 10px;
}

p {
  margin: 5px;
  padding: 5px;
}

hr {
  height: 1px;
  background-color: #ffffff;
  border: none;
}

.spotlight-1,
.spotlight-2,
.spotlight-3 {
  border-radius: 5px;
  background-color: #a8ccea;
  box-shadow: 0px 0px 2px 2px rgba(4, 75, 135, 0.5);
}

.spotlight-1 {
  margin: 15px 15px 0px 15px;
}

.spotlight-2 {
  margin: 0px 15px 15px 15px;
}

.spotlight-1 p,
.spotlight-2 p {
  padding-bottom: 5px;
}

.spotlight-3,
.join-left {
  display: none;
}

/*---------- Discover page ----------*/
.discover-title,
.count-visits {
  text-align: center;
  margin: 10px 0px 10px 0px;
  font-size: 25px;
}

.discover-section {
  margin: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.discover-section img {
  border-radius: 5px;
  max-width: 100%;
}

.discover-photo p {
  width: 0;
  min-width: 100%;
  margin: 10px -5px;
  font-size: 20px;
}

/*---------- FORM ----------*/
.chamber-join {
  text-align: center;
  font-size: 2.3em;
  color: #044b87;
}

form fieldset {
  margin: 2rem 2rem;
  border: 1px solid #445ba9;
  border-radius: 10px;
  padding: 0.5rem 2%;
}

form legend {
  color: #445ba9;
  margin: 0 1rem;
  padding: 0.5rem;
  font-size: 1.3em;
}

form label.top,
form div {
  display: block;
  padding: 1em 0em 1em 0em;
  font-size: 1.3em;
}

form label.top input,
form label.top select,
form label.top textarea {
  -webkit-appearance: none;
  display: block;
  font-size: 1em;
  border: solid 1px #999;
  border-radius: 4px;
  padding: 15px 0px;
  color: #555;
  width: 100%;
  max-width: 20rem;
  background-color: rgba(0, 0, 0, 0.1);
}

form label.sbs {
  font-size: 1.3em;
  display: block;
  padding: 0.75rem 0;
}

.level {
  margin: 0px 10px;
}

form input.submitBtn {
  display: block;
  border: none;
  background-color: #044b87;
  color: #ffffff;
  border-radius: 1rem;
  padding: 0.75rem 1.5rem;
  margin: 0 auto 2rem auto;
  width: 96%;
  max-width: 20rem;
  align-items: center;
  font-size: 1.3em;
}

form label.top input:required {
  border-left: red solid 6px;
}

form label.top input:required:valid {
  border-left: green solid 6px;
}

.member-options ul {
  display: none;
}

/*---------- DISCOVER ----------*/

.directory-main {
  max-width: 60em;
  margin: 20px auto;
}

.cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 0.5rem;
}

.images {
  border: 1px inset #044B87;
  background-color: #dcf0f8;
  padding: 0.5rem;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0px 0px 2px 2px rgba(4, 75, 135, 0.3);
}

div.cards section {
  display: grid;
  text-align: center;
  margin: 5px;
  border-radius: 5px;
}

div.cards section img {
  margin: 10px auto;
}