/*----------Header Styles----------*/
header {
    background-color: #044B87;
}

.header-content {
    font-family: 'Roboto', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
}

.logo {
    margin: 0px 10px 0px 10px;
}

.chamber-name {
    color: #FFFFFF;
}

.chamber-name h1 {
    margin: auto;
    font-size: 20px;
}

.chamber-name p {
    margin: auto;
    font-size: 16px;
}

.social-media {
    display: flex;
    justify-content: space-between;
}

.facebook-logo,
.linkedin-logo {
    margin: 0px 10px 0px 10px;
}

nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #FFFFFF;
}

nav ul {
    list-style-type: none;
    position: absolute;
    z-index: 1;
    top: 100px;
    right: 0px;
    width: 100%;
    background-color: #A8CCEA;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #044B87;
    border-top: 1px solid rgb(255, 255, 255);
    font-size: .8rem;
}


nav ul li.active a {
    background-color: rgb(0, 0, 0, 0.2);
    color: #FFFFFF;
}

nav ul li a:hover {
    background-color: #A8CCEA;
}


nav ul {
    display: none;
}

nav ul.open {
    display: block;
}

#hamburguerBtn span:nth-child(1) {
    display: block;
}

#hamburguerBtn span:nth-child(2) {
    display: none;
}

#hamburguerBtn.open span:nth-child(1) {
    display: none;
}

#hamburguerBtn.open span:nth-child(2) {
    display: block;
}

.date {
    padding: 5px 25%;
    font-weight: 400;
    margin: 10px;
    border: 1px solid #bbb;
    background-color: #eee;
}

/*----------Footer Styles----------*/
.footer-color {
    background-color: #044B87;
}

.footer-logo {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.footer-color img,
.header-content img {
    border-radius: 5px;
}

.footer-direction,
.footer-contact,
.footer-data {
    text-align: center;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

.bold-text {
    font-weight: bolder;
}

/*---------- Main ----------*/
.home-page {
    display: grid;
    grid-template-rows: repeat(5, auto);
    grid-row-gap: 10px;
    padding: 0.5em;
    margin: 10px 20px 10px 20px;
}

main img {
    max-width: 100%;
    border-radius: 10px;
}

section {
    margin: auto;
    text-align: center;
}

.main-img {
    position: relative;
}

.join-button button {
    margin-top: -15%;
    margin-left: 60%;
    position: absolute;
    border: none;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #044B87;
    box-shadow: 0px 0px 2px 2px  rgba(4, 75, 135, 0.35);
}

.join-button h2 {
    margin-top: -65%;
    margin-left: 15px;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    color: #044B87;
    font-size: 1.3em;
    text-shadow: 0 0 4px #FFFFFF;
}

.event-left, .weather-left, .news-release, .spotlight{
    background-color: #DCF0F8;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
}

h3{
    color: #044B87;
    text-shadow: 0 0 2px #FFFFFF;
    margin: 5px auto 0px auto;
}

p{
    margin: 5px;
    padding: 5px;
}
hr{
    height: 1px;
    background-color: #FFFFFF;
    border: none;
}
.spotlight-1, .spotlight-2, .spotlight-3{
    border-radius: 5px;
    background-color: #A8CCEA;
    box-shadow: 0px 0px 2px 2px rgba(4, 75, 135, 0.50);
}
.spotlight-1{
    margin: 15px 15px 0px 15px;
}
.spotlight-2{
    margin: 0px 15px 15px 15px;
}

.spotlight-1 p, .spotlight-2 p{
    padding-bottom: 5px;
}

.spotlight-3, .join-left{
    display: none;
}
/*---------- Discover page ----------*/
.discover-title,
.count-visits {
    text-align: center;
    margin: 10px 0px 10px 0px;
}

.discover-section {
    margin: 0px 20px 0px 20px;
}

.discover-section img {
    border-radius: 5px;
}