@media only screen and (min-width: 64rem) {
    .footer-chamber-inf {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0.5em;
    }

    .footer-logo {
        display: flex;
        justify-content: flex-end;
        margin-right: 50px;
    }

    .footer-direction,
    .footer-contact {
        text-align: left;
    }

    .footer-data {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .footer-data p {
        padding: 0px 10px 0px 10px;
        border-left: 1px solid #FFFFFF;
    }
}