@media only screen and (min-width: 64rem) {

    /*----------Header----------*/



    /* N A V I G A T I O N */

    #primaryNav {
        display: flex;
    }

    nav button {
        display: none;
    }


    /*----Discover---*/
    .discover-section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
    }

    .discover-section img:hover {
        box-shadow: 0 0 50px #044B87;
        border-radius: 20px;
    }


    /*----------Footer----------*/
    .footer-chamber-inf {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0.5em;
    }

    .footer-logo {
        display: flex;
        justify-content: flex-end;
        margin-right: 50px;
    }

    .footer-direction,
    .footer-contact {
        text-align: left;
    }

    .footer-data {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .footer-data p {
        padding: 0px 10px 0px 10px;
        border-left: 1px solid #FFFFFF;
    }
}