@media only screen and (min-width: 32.5em) {
    .home-page {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 0.5em;
    }

    .main-img {
        grid-column: 1/5;
    }

    .join-button h2 {
        margin-left: 45px;
        font-size: 3em;
    }

    .join-button a {
        margin-top: -10%;
        margin-left: 70%;
        font-size: 25px;
        cursor: pointer;
    }
    form label.top input,
    form label.top select,
    form label.top textarea {
        max-width: none;
    }


    .news-release {
        grid-column: 1/5;
        grid-row: 2/3;
    }

    .join-left {
        grid-column: 1/5;
        grid-row: 4/5;
        display: block;
        background-color: #DCF0F8;
        border-radius: 10px;
        font-size: 20px;
        text-align: center;
        padding: 10px;
    }

    .join-left a {
        display: block;
        border-radius: 10px;
        margin: 15px 0px;
        text-decoration: none;
        padding: 10px;
        font-size: 25px;
        font-weight: bold;
        color: #FFFFFF;
        background-color: #044B87;
        box-shadow: 0px 0px 2px 2px rgba(4, 75, 135, 0.35);
    }

    .event-left {
        grid-column: 1/4;
        grid-row: 5/6;
        margin: 5px;
    }

    .weather-left {
        grid-column: 4/5;
        grid-row: 5/6;
        margin: 5px;
    }

    .spotlight {
        grid-column: 1/5;
        grid-row: 3/4;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }

    .spotlight-1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .spotlight-2 {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .spotlight-1 {
        margin: 15px 0px 15px 15px;
    }

    .spotlight-2 {
        margin: 15px 15px 15px 0px;
    }

    form .information-form,
    form .business-form,
    form .options {
        display: block;
        margin-left: 10%;
        margin-right: 10%;
    }

    #cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0.5rem;
    }

    div#cards section {
        margin: 10px;
    }

    figure {
        margin: 0;
    }
    .weather-left h3 {
        margin: 0;
        padding-bottom: 0;
    }

    .weather-left p {
        padding: 0;
    }

    div#list section {
        flex-direction: row;
        margin: 0px 30px;
        justify-content: space-evenly;
    }

    #list h3 {
        padding: 5px;
        margin: 5px 15px;
    }
}