.header-box {
    margin: 0 1em 1em 1em;
    background-color: #214D6E;
    border-radius: 20px;
    max-width: 100%;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.35);
}

.footer-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: #214D6E;
    margin: 0 1em 1em 1em;
    border-radius: 20px;
    align-items: center;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.35);
}

h1,
a,
.copyright {
    color: #FFFFFF;
}

.copyright {
    font-size: 1em;
    padding-top: 30px;
    margin-bottom: 5px;
    font-size: 20px;
}

.date-color {
    font-size: 0.9em;
    margin-top: 5px;
    padding-bottom: 30px;
    color: #FFFF60;
}

.title-name,
.home-link,
.footer-text {
    text-align: center;
}

h1,
h2 {
    text-align: center;
}

table{
    font-family: 'Ubuntu', sans-serif;
}


tbody tr:nth-child(odd) {
    background-color: #e7ffed;
}

tbody tr:nth-child(even) {
    background-color: #e7f0ed;
}

table {
    border-collapse: collapse;
    box-shadow: 5px 5px 20px #666;
    margin-left: auto;
    margin-right: auto;
    background-color: #eee;
}

.title {
    background-color: #7fbac2;
}

.subtitle {
    background-color: #628ca5;
    color: white;
}

th,
td {
    border: 1px solid #899da7;
    padding: 0.25rem 0.5rem;
    text-align: center;

}

.rowheader {
    font-weight: normal;
}

table thead tr th {
    font-size: 1.5rem;
}

table tfoot tr td {
    font-size: 0.8rem;
}

.darkblue{
    background-color: yellow;
}