.header-box {
    margin: 0 1em 1em 1em;
    background-color: #214D6E;
    border-radius: 20px;
    max-width: 100%;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.35);
}

.footer-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: #214D6E;
    margin: 0 1em 1em 1em;
    border-radius: 20px;
    align-items: center;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.35);
}

h1,
a,
.copyright {
    color: #FFFFFF;
}

.copyright {
    font-size: 1em;
    padding-top: 30px;
    margin-bottom: 5px;
    font-size: 20px;
}

.date-color {
    font-size: 0.9em;
    margin-top: 5px;
    padding-bottom: 30px;
    color: #FFFF60;
}

.title-name,
.home-link,
.footer-text {
    text-align: center;
}

h1,
h2 {
    text-align: center;
}

.lazy-loading {
    display: grid;
    justify-content: center;
    width: 100%;
}

img {
    border: 1px solid #333;
    padding: 2px;
}

[data-src] {
    min-width: 20px;
    min-height: 20px;
}

.fade-in {
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}